<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Posts</title>
</head>
<body>
	<form>
		<input type="text" name="text">
		<button id = "add_repost">Repost</button>
	</form>
	<% for(var i = 0; i < a.length; i++){ %>
		<h1><%= a[i].text %></h1>
	<% } %>

	<% for(var j = 0; j < posts[i].comments.length; j++){ %>
				<h1><%= posts[i].comments[j].textComment %></h1>
				<% } %>
				</div>
		<script src="https://<% for(var j = 0; j < posts[i].comments.length; j++){ %>
			<h1><%= posts[i].comments[j].textComment %></h1>
			<% } %>
			</div>cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../client.js"></script>
</body>
</html>